/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 
 body {
    padding: 10px;
    background: beige
  }
  
  /*.container {
      display: flex;
      background-image: lightblue;
      justify-content: space-evenly;
      align-items: center;
  } */

  .carousel {
    position: fixed;
    width: 398px;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: rgb(131, 174, 175);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .carousel img {
    width: 130px;
    height: 130px;
    /* make it block to remove space around images */
    display: block;
  }
  
  .main {
    background: grey;
    height: 150px;
    width: 150px;
  }

  .second {
    background: lightseagreen;
    height: 50px;
    width: 50px;
  }

  .prev {
    display: block;
    height: 20px;
    width: 20px;
    background: palegreen;
  }

  .next {
    display: block;
    height: 20px;
    width: 20px;
    background:palegreen;
  }
  .slider {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: grey;
    border-radius: 4px;
  }

  .arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  
  .prev {
    left: 7px;
  }
  
  .next {
    right: 7px;
  }
  
  .gallery {
    width: 390px;
    overflow: hidden;
  }
  
  .gallery ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* remove white-space between inline-block'ed li */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
  }
  
  .gallery li {
    display: inline-block;
  }